*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

a {
    text-decoration: none;

}

body {
    
    
    cursor: url('bug (1).png'), auto;
    
    overflow: hidden; /* Hide scrollbars */
}
body::-webkit-scrollbar {
    display: none;
}

html{
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;
    overflow-x: hidden;
    height:100vh;
    width: 100%;
    background: #1D2228;
}

header{
    font-family: Tahoma, Verdana, sans-serif;
}

header nav {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #1D2228;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
}
header nav #toggler{
    display: none;
}

header nav .fa-bars{
    font-size: 17px;
    color: #fff;
    border-radius: .5rem;
    padding: .3rem 1rem;
    cursor: pointer;
    border: .1rem solid rgba(255,255,255,.3);
    display: none;

}
nav .fa-times{
    font-size: 17px;
    color: #fff;
    border-radius: .5rem;
    padding: .3rem 1rem;
    cursor: pointer;
    border: .1rem solid rgba(255,255,255,.3);
    display: none;

}

header .nav__content {
    max-width: var(--max-width);
    font-family: Tahoma, Verdana, sans-serif;
    margin: auto;
    padding: 25px 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav__content ul {
    padding-left: 0;
    margin: 0;
}

.logo a{
    text-decoration: none;
}


/*.nav__content 
::before {
    box-sizing: border-box; /* Override the box-sizing property 
}*/

nav .logo {
    font-size: 30px;
    font-weight: 600;
    transition: 0.3s;
}

 nav .logo > a{
    color: #1D2228;
    -webkit-text-stroke: thin #24B477;
}
 nav .logo a:hover {
    color: #24B477;
}
 .logo::before {
    content: "HILARY";
    position: absolute;
    font-weight: 600;
    font-size: 30px;
    width: 5%;
    height: 40px;
    color: #24B477;
    border: 0.1px solid #24B477;
    overflow: hidden;
    

}

 nav ul {
    display: flex;
    align-items: center;
    gap: 30px;
    list-style: none;
    transition: left 0.3s;
}

 ul li a {
    padding: 10px 15px 10px 15px;
    text-decoration: none;
    font-weight: 600;
    color: white;
    transition: 0.3s;
}

ul li a:hover {
    color:#24B477;
}

/* Dropdown Button */
.dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #24B477;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;
  }